#cardContainer {
    left: 0;
    right: 0;
    margin: 0 auto;
    vertical-align: middle;
    width: 400px;
}

.card {
    display: inline-block;
    clear: both;
    width: 97%;
    box-shadow: 0px 2px 10px 0px #000000;
    border-radius: 2px;
    padding: 5px;
    margin-top: 15px;

}

.card .details {
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.card .closeButton {
    float: right;
    cursor: pointer;
    font-weight: 500;
    margin-right: 2px;
}

#githubForm {
    padding: 16px;
    background-color: #e6f1f0;
    color: #000000;
    text-align: center;
    box-shadow: 0 1px 2px 0;
}

.addUser {
    margin-left: 5px;
    cursor: pointer;
}